@use "../../../../utils/bar-mixins" as *;

.bar {
    & .audio-box {
        @include button;

        

        & .audio-btn {
            & .audio-level {
                font-size: 10px;
            }
            
            & .audio-icon {
                min-width: 16px;
                min-height: 16px;
                -gtk-icon-size: 16px;
            }
        }
    }
}