.bar {
    & .keyboard-box {
        & .keyboard-icon {
            padding-right: 6px;
            & label {
                font-size: 16px;
            }
        }
        & .keyboard-layout {
            font-size: 10px;
        }
    }
}