@use "../../../../colors" as *;
@use "./sections/UserHeader.scss" as *;
@use "./sections/DesktopControls.scss" as *;
@use "./sections/MusicPlayer.scss" as *;
@use "./sections/NotificationCenter.scss" as *;

.home-box {
    background-color: $bg;
    padding: 8px;
    min-width: 300px;
    
    // Vertical divider on the edge facing the bar
    &.home-box-left {
        border-right: solid $bg-alt 2px;
    }
    
    &.home-box-right {
        border-left: solid $bg-alt 2px;
    }
}